.avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-muted);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatarFallback {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-muted-foreground);
}